*{
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
}
h2,h3{
    color: #00a2cb;
}
footer{
    padding: 20px;
    color: white;
    background-color: #0021c7;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
}
main{
    padding: 20px;

    overflow: auto;
}
nav{
    background-color: #a5b9bd;
    padding: 5px;

    position: sticky;
    top: 0;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(27, 27, 27);
}
nav a:hover{
    font-weight: bold;
}
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}
.profile{
    text-align: center;
}
.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
.profile img{
    width: 200px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    padding: 20px;
    margin-top: 20px;
}
.profile_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: #0021c7;
    text-align: center;
    color: white;
}
#content{
    float: left;
    width: 75%;
}
aside{
    float: right;
    width: 25%;

    padding-left: 20px;
}
.social-media ul li{
    display: inline;
    padding-inline: 20px;
}
.social-media ul li{
    list-style-type: none;
}
.social-media ul li a{
    color: white;
}
@media screen and (max-width: 1000px) {
    #content, aside{
        width: 100%;
        padding: 0;
    }
}